<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>

        <label>Adınız - Soyadınız :</label>
        <input type="text" class="form-control" name="adSoyad" />

        <label>Mail :</label>
        <input type="text" class="form-control" name="mail" />

        <label>Konu :</label>
        <input type="text" class="form-control" name="konu" />

        <label>Mesaj :</label>
        <input type="text" class="form-control" name="mesaj" />
        <br />
        <button class="btn btn-outline-secondary">Gönder</button>
    </form>
</div>
